.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
    margin-bottom: 4rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.6rem;
    gap: 1rem;
    width: 30rem;
    height: 25rem;
    position: relative;
    .container{
        width: 26rem;
        height: 5rem;
        padding: 0.5rem;
        border-radius: 0.4rem;
        background: $cl-p;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        gap: 1rem;
        #content-box{
            border-radius: 0.4rem;
            background: $cl-f;
            width: 45%;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #number-box{
            width: 55%;
            border-radius: 0.4rem;
            background: $cl-f;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }   
        @include respond(phone){
            width: 80vw;
            height: 20vw;
            padding: 1vh;
            #number-box{
                height: 100%;
            }
            #content-box{
                height: 100%;
            }
        }
 
    }
    .btn{
        cursor: pointer;
        color: $cl-f;
        background-color: $cl-p;
        position: relative;
        width: 26rem;
        height: 5rem;
        border-radius: 0.4rem;
        @include respond(phone){
            width: 80vw;
            height: 20vw;
        }
    }
}


#choiceContentBoard{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 26rem;
    background: $cl-f;
    display: none;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    padding: 2rem;
    // gap: 1rem;
    border-radius: 0.6rem;
    span{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        font-weight: 500;
        cursor: pointer;
    }
    div{
        width: 100%;
        height: auto;
        padding: 0.5rem 0;
        h5{
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
            font-family: 'Noto Sans JP', sans-serif;
            font-style: 600;
            color: $cl-p;
        }
        ul{
            display: flex;
            gap: 1rem;
            li{
                display: block;
                width: 5rem;
                height: 3rem;
                background: $cl-p;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                color: $cl-f;
                border-radius: 0.4rem;
                cursor: pointer;
            }
        }
    }
}