@mixin respond($breakpoint){
    @if $breakpoint == tab-land{
        @media (max-width: 1200px){
            @content
        };
    }
    @if $breakpoint == tab{
        @media (max-width: 900px){
            @content
        };
    }
    @if $breakpoint == phone{
        @media (max-width: 600px){
            @content
        };
    }
    @if $breakpoint == small-phone{
        @media (max-height: 680px){
            @content
        };
    }
}

@mixin btn{
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 0.4rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(tab-land){
        width: 4rem;
        height: 4rem;
    }
    @include respond(tab){
        width: 3rem;
        height: 3rem;
        font-size: 1.4rem;
    }
}